.Punches {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.Punch {
    flex-direction: row;
    display: flex;
    vertical-align: middle;
    width: 100%;
}

.Punch button {
    right: 0px;
}

.PunchId {
    font-size: .65em;
    clear: right;
}

.PunchTimestamp {
    height: 100%;
    text-align: left;
    alignment: left;
}